/* BASKOD FÖR ALLA WEBBSIDOR */
/* Mobile first-approach */

* { /*Margin och padding ryms i max-width */
    box-sizing: border-box;
}

figure {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    margin: 0; /* Innehåll fyller hela skärmens bredd*/
    /*background: linear-gradient(to bottom, #ffffff 0%, #f4efeb 20%);*/
    background-color: #f4efeb;
}

h1 {
    font-size: 36px;
    font-family: 'Outfit', sans-serif;
    color: #2f4157;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    color: #2f4157;
    font-weight: 600;
    margin-bottom: 20px; /* Lägger till luft nedanför */
    margin-top: 0; /* Tar bort default-luft ovanför */
}

h3 {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    color: #577c8e;
    font-weight: 600;
    margin-bottom: 20px; /* Lägger till luft nedanför */
    margin-top: 0; /* Tar bort default-luft ovanför */
}

p {
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2f4157;
    line-height: 1.6; /* Bättre läsbarhet*/
    word-spacing: 2px; /* Fontens hoptryckta ord försämrade läsbarheten */
}

a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2f4157;
    line-height: 1.6;
    word-spacing: 2px;
    text-decoration: none; /* Ingen underlinje */
    padding: 12px 12px 12px 0; /* Större tryckyta för mobilen */
}

figcaption a:hover { /* Orange färg på länkar vid hovring*/
    text-decoration: underline;
    color: #eea32b;
}

main {
    padding-top: 101px; /* Fixed navigeringsmeny krävde att main startade längre ned, pga hamnar ovanpå main */
}

/* NAVIGATIONSMENY - SAMTLIGA WEBBSIDOR */

header { /* Självaste navigationsmenyn*/
    background-color: #ffff;
    backdrop-filter: blur(8px);
    position: fixed; /* Följer med vid scroll*/
    z-index: 10; /* Placeras ovanför allt annat innehåll*/
    width: 100%;
}

.navmenu { /* Innehållet i navigationsmenyn*/
    display: flex; /* Aktiverar flexbox-layout */
    flex-wrap: wrap; /* Bryter innehåll till nästa rad vid liten skärm */
    align-items: center;
    padding: 20px;
    max-width: 1000px; /* Följer webbsidans max-bredd för innehåll */
    margin: 0 auto;
}

.navmenu img { /* Logotypen i navigationsmenyn*/
    height: 31px; /* Fast höjd */
}

.navlinks { /* Länkarna i navigationsmenyn*/
    display: none; /* Inga synliga länkar i mobilens navigationsmeny */
    width: 100%;
    margin-top: 20px; /* Luft mellan logotyp och början av hamburgarmenyn */
}

.navlinks ul { /* Listan med länkar */
    list-style: none;
    padding: 0; /* Låter listan gå mot hamburgarmenyns kant */
    margin: 0; /* Låter listan gå mot hamburgarmenyns kant */
}

.navlinks li { /* Länkarna i listan */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    padding: 12px; /* Mellanrum mellan länkarna */
}

.navlinks a:hover { /* Annan färg på länkar vid hovring */
    text-decoration: underline;
    text-decoration-color: #eea32b;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

#menu-toggle { /* AI hjälp: Döljer checkruta */
    display: none;
}

#menu-toggle:checked + .hamburger + .navlinks { /* AI hjälp: Gör hamburgarikonen klickbar */
    display: block;
}

.hamburger {
    -webkit-tap-highlight-color: transparent; /* AI hjälp: Tar bort färgen som uppstår när man klickat på hamburgarikonen */
    cursor: pointer; /* Vid litet fönster på datorenheter blir muspekaren ett finger vid hovring över hamburgarmenyn för att ge signaler av att den är klickbar */
    margin-left: auto; /* Placerar hamburgarmenyn längst till höger */
}

.hamburger img { /* Fast bredd på hamburgarikonen*/
    width: 31px;
}

.currenttab a { /* Länken för nuvarande sida byter färg */
    text-decoration: underline;
    text-decoration-color: #eea32b;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

/* FOOTER - SAMTLIGA WEBBSIDOR */

footer { /* Bakgrundfärg och padding på footer */
    background-color:#2f4157;
    padding: 0;
}

.footerinformation { /* Utrymme mellan main och footer */
    padding-top: 100px;
}

.footerabout p { /* Optimal läsbarhet för textstycke */
    max-width: 45ch;
    margin-top: 28px;
}

.footerlogo { /* Fast bredd på logotyp */
    width: 200px;
}

.footercolumn { /* Justerar utrymme över klass */
    margin-top: 30px;
}

footer h3 { /* Annan färg på rubriker */
    color: #c7d9e5;
}

footer ul { /* Styling av listorna */
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    list-style: none; /* Ingen punktlista */
    padding: 0; /* Ta bort utrymme från punktlista */
    margin-bottom: 10px;
}

footer p { /* Justerar text i footer */
    color: white;
    font-size: 14px;
    margin: 0;
    line-height: 1.6;
}

footer li { /* Justerar list-texterna */
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.footercolumn a:hover { /* Hover-indikation på länk */
    text-decoration: underline;
}

.linkfooter a { /* Annan färg på länk */
    color: #eea32b;
}

.copyright { /* Justerar textstycke i footer */
    font-size: 14px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.footerattribute { /* Justera utrymme ovanför klassen */
    margin-top: 30px;
}

.footerattribute a { /* Justerar utseende på attribut i footer */
    font-size: 14px;
    color: white;
    display: block;
    padding: 5px 0;
}

.footerattribute a:hover { /* Orange färg på länkar vid hovring*/
    text-decoration: underline;
    color: #eea32b;
}

/* INDEX.HTML - Mobile first-approach*/

.indexhero { /* Skapar referenspunkt för "indexherotext" */ 
    position: relative;
}

.indexhero h1 { /* Titel för hero-sektion*/
    color: white;
    margin: 0; /* Tar bort default-luft runtom */
}

.indexhero p { /* Herosektionens brödtext*/
    color: white;
    font-weight: 500;
}

.indexheroimage img { /* Omslagsbild */
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block; /* Gör det enklare att kontrollera med width/height */
    object-position: bottom;
}

.indexherotext { /* Hero-sektionens text */
    position: absolute; /* Placeras ovanpå omslagsbilden*/
    top: 20%;
    left: 0;
    right: 0;
    z-index: 2; /* Placeras ovanför omslagsbilden */
}

.indexherocontent { /* Ger optimal läsbarhet på textstycke i hero */
    max-width: 45ch;
    padding: 0 20px;
}

.textimagesection { /* Skapar en container runt innehållet i sektionen */
    display: flex; /* Enklare att kontrollera innehållet inuti*/
    justify-content: center;
    margin: 50px 0;
    padding: 0 20px;
}

.textimagecontent { /*Gör att innehållet centreras i mitten utan att bilden anpassar sig efter texten ovan */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textimagetext { /* Maxgräns på textstycke för optimal läsbarhet */
    max-width: 45ch;
}

.backgroundsection { /* Blå bakgrund bakom sektionen*/
    background-color: #c7d9e5;
    padding: 100px 0;
}

.backgroundsection h2 { /* Justeringar för titeln under cards-sektion */
    text-align: center;
    margin-bottom: 40px;
}

.cardcontainer { /* Centerar och justerar förhållande mellan cards */
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card { /* Kortets utseende*/
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    padding: 30px 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img { /* Kortets illustration */
    max-width: 90px;
    margin-bottom: 30px;
}

.cardtext { /* Läsbarhet för text i kortet */
    max-width: 45ch;
    margin: 0 auto;
}

.button { /* Knappar på webbplatsen */
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2f4157;
    background-color: #eea32b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 50px;
    margin-top: 30px;
    display: inline-block; /* Betér sig sig som block och ger spacing till övriga element */
}

.button:hover { /* Knapparnas hovringar*/
    color: #eea32b;
    background-color: #2f4157;
    cursor: pointer;
}

/* INDEX.HTML, STUDIER.HTML, STRUKTUR.HTML, GEMENSKAP.HTML */
/* Mobile first-approach*/

.overlay { /* Ger omslagsbilder en blå färg */
    position: absolute; /* Placeras ovanpå bilden */
    inset: 0; /* Kortare version för top: 0, right: 0 etc. */
    background: #5c789b91;
    z-index: 1; /* Placeras över bilden men under text */
}

/* INDEX.HTML, OM OSS.HTML */

.sectionimage { /* Ändrar storlek på klass */
    width: 100%;
    max-width: 600px;
    margin: 25px auto 0 auto;
}

.sectionimage img { /* Ändrar storlek och position på bild */
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* STUDIER.HTML, STRUKTUR.HTML, GEMENSKAP.HTML, OM OSS.HTML */
/* Mobile first-approach*/

article {
    padding-bottom: 60px; /* Lika mycket luft mellan main och footer på webbsidor, för att efterlikna slutet av index.html */
}

.herosidebackground { /* Annan bakgrund på heroside */
    background-color: white;
}

.herotitle {
    text-align: center;
    margin: 0 0 20px 0;
    padding-top: 40px;
}

.heroside { /* Utrymme mellan navbar och artikelns början efter heroside */
    padding: 0 0 40px 0;
}

.heroside h1, .heroside p { /* Centrering och utrymme mellan h1 och p */
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

.smalltitle { /* P-element blir designad som ett H-element, dock är det ej det semantiskt */
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    max-width: 45ch;
    margin: 0 auto;
    color: #577c8e;
}

.overlaywrapper { /* Skapar en ram för att lägga "overlay" över bilden */
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.articlehero img { /* Justerar omslagsbild */
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 40px auto 0 auto;
    border-radius: 10px;
}

.content { /* Bestämmer en maxbredd på allt innehåll */
    max-width: calc(45ch + 40px); /* AI hjälp: Få 45ch maxbredd utan att padding räknas in pga. box-sizing: border-box */
    margin: 40px auto;
    padding: 0 20px;
}

.background { /* Bakgrund för varannan huvudsektion */
    background-color: #c7d9e5;
}


.background .content:first-child { /* Ger padding i början av blåa sektioner */
    padding-top: 40px;
}

.background .content:last-child { /* Ger padding i slutet av blåa sektioner, var det enda sättet att lösa detta på */
    padding-bottom: 40px;
}

.group { /* Styling på rutor */
    background-color: #ffff;
    list-style: none;
    margin: 40px auto 0;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.divider { /* Styling på avdelare */
    border: none;
    background-color: #eea32b;
    height: 2px;
    margin: 50px auto;
}

/* STRUKTUR.HTML - Mobile first approach */

.list { /* Justerar listor */
    padding-left: 20px;
    color: #2f4157;
}

.list li { /* Får li-element att se se ut som p-element visuellt */
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #2f4157;
}

/* STRUKTUR.HTML, GEMENSKAP.HTML */
.bluefirstcontent { /* Ta bort margin-top på endast denna klass */
    margin-top: 0;
}

/* OM OSS.HTML - Mobile first approach */

.aboutuspage .heroside {
    padding-bottom: 100px;
}

.aboutuspage .textimagesection {
    margin: 0;
    padding: 100px 20px;
}

.whowearecontent { /* Bestämmer en maxbredd på allt innehåll */
    max-width: calc(45ch + 40px); /* AI hjälp: Få 45ch maxbredd utan att padding räknas in pga. box-sizing: border-box */
    margin: 100px auto;
    padding: 0 20px;
}

.whowearetitle { /* Centrera h2-rubrik */
    text-align: center;
}

.whowearecontainer { /* Positionring av kort */
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.whowearegroup { /* Centrerad text inom grupp */
    text-align: center;
}

.whowearegroup img { /* Storlek på illustrationer */
    max-width: 90px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.whowearetext { /* Bredd på text för optimal läsbarhet */
    max-width: 45ch;
}

.whowearetext p { /* Ta bort margin för att ge lika mycket luft mellan element här som i andra stycken på webbplatsen */
    margin-bottom: 0;
}

/* TABLET */

@media (min-width: 768px) {
    /* BASKOD FÖR ALLA WEBBSIDOR */
    
    h1 { /* Större storlek på font */
        font-size: 44px;
    }

    h2 { /* Större storlek på font */
        font-size: 28px;
    }

    h3 { /* Större storlek på font */
        font-size: 20px;
    }

    /* FOOTER - SAMTLIGA WEBBSIDOR */

    .footerinformation { /* Grid för både rader och kolumner */
        display: grid;
        grid-template-columns: 2fr 1fr 0.7fr;
        align-items: start;
        gap: 90px;
    }

    /* INDEX.HTML*/

    .indexheroimage img { /* Omslagsbilden utgår från centrum */
        object-position: center;
    }

    .indexherocontent { /* Ny max-bredd på texten i hero */
        max-width: 50ch;
        padding: 0;
    }

    .textimagesection { /* Större utrymme runtom introduktion-sektionen */
        margin: 100px 0;
    }

    .textimagetext { /* Bredare radlängd för optimal läsbarhet */
        max-width: 60ch;
    }

    .sectionimage { /* Centrera bild */
        text-align: center;
    }

    .cardtext { /* Längre text för bättre läsbarhet */
        max-width: 60ch;
    }

    /* STUDIER.HTML */

    .content { /* Bestämmer en maxbredd på allt innehåll */
        max-width: calc(60ch + 40px); /* AI hjälp: Få 60ch maxbredd utan att padding räknas in pga. box-sizing: border-box */
    }

    .smalltitle { /* P-element blir designad som ett H-element, dock är det ej det semantiskt */
        font-size: 20px;
    }

    /* OM OSS.HTML*/

    .whowearecontent { /* Behöver en maxbredd för att placeras rätt */
        max-width: 1000px;
    }

    .whowearetitle { /* Vänsterjustera text och sätta en max-bredd för att positionera rätt */
        text-align: left;
        max-width: 480px;
        margin: 0 auto 20px auto;
    }

    .whowearetext { /* Större max-bredd på text för optimal läsbarhet */
        max-width: 60ch
    }

    .whowearegroup { /* Byter riktning på gruppen*/
        display: flex;
        align-items: center;
        gap: 40px;
        text-align: left;
        max-width: 480px;
    }

    .whowearegroup img { /* Tar bort utrymme under illustrationer*/
        margin: 0;
    }
}

/* DESKTOP */

@media (min-width: 1024px) {
    /* BASKOD FÖR ALLA WEBBSIDOR */
    
    h1 { /* Större storlek på font */
        font-size: 56px;
    }

    h2 { /* Större storlek på font */
        font-size: 32px;
    }

    h3 { /* Större storlek på font */
        font-size: 22px;
    }

    a { /* Tar bort onödigt utrymme, gör navbaren mer kompakt */
        padding: 0;
    }

    main {
        padding-top: 70px; /* Fixed navigeringsmeny krävde att main startade längre ned, pga hamnar ovanpå main */
    }
    
    /* NAVIGATIONSMENY - SAMTLIGA WEBBSIDOR */

    .navmenu {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .hamburger { /* AI hjälp: Ta bort hamburgarmenyn */
        display: none;
    }

    .navlinks { /* Desktopvänliga länkar */
        display: block; /* Lättare att placera i block*/
        width: auto;
        margin-top: 0; /* Tar bort onödigt utrymme */
        padding-top: 0;
    }

    .navlinks ul { /* Gör att länkarna placeras horistontella */
        display: flex;
        gap: 40px;
    }

    .navlinks li { /* Tar bort onödigt utrymme på list-element */
        padding: 0;
    }

    /* INDEX.HTML */

    .indexheroimage img { /* Högre höjd på omslagsbild */
        max-height: 800px;
    }

    .textimagecontent { /* Placerar text och bild bredvid varandra */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .textimagetext p { /* Bredare radlängd för optimal läsbarhet */
        max-width: 75ch;
    }

    .cardcontainer {
        flex-wrap: nowrap;
    }

    .card {
        flex: 1;
    }

    /* STUDIER.HTML */

    .overlaywrapper > .overlay { /* Enhetliga runda hörn på omslagsbild */
    border-radius: 10px;
    }

    .articlehero img { /* Runda hörn på omslagsbild */
        border-radius: 10px;
    }

    .content { /* Bestämmer en maxbredd på allt innehåll */
        max-width: calc(75ch + 40px); /* AI hjälp: Få 75ch maxbredd utan att padding räknas in pga. box-sizing: border-box */
    }

    .smalltitle { /* P-element blir designad som ett H-element, dock är det ej det semantiskt */
        font-size: 22px;
    }

    /* OM OSS.HTML */

    .whowearetitle { /* Större maxbredd för positionering */
        text-align: center;
        margin-bottom: 40px;
    }

    .whowearegroup { /* Tillbaka till mobilversion, dock vågrätt */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;
        gap: 20px;
        max-width: 1000px;
    }

    .aboutuspage .textimagetext {
        max-width: 75ch;
    }

    /* INDEX.HTML, OM OSS.HTML*/

    .sectionimage { /* Ändrar max-bredden på bild */
        max-width: 400px;
    }

    .sectionimage img { /* Maxbredd på bild för att inte bli för stor */
        margin: 0;
    }
}
